<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create a new invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Счета создание</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-button (click)="generate()" type="button">Generate</ion-button> -->
  <ion-button (click)="createPdf()" type="button">Create PDF</ion-button>
  <ion-button (click)="downloadPdf()" type="button" [disabled]="!pdfObj"
    >Download</ion-button
  >
</ion-content>
